.header {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-size: 4vw;
}

#canvas {
    background: black;
    border-radius: 2px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.column {
    float: left;
    width: 50%;
}

.left {
    text-align: right;
    padding-right: 1.5%;
}

.right {
    text-align: left;
}

#rectangle {
    width: 200px;
    height: 100px;
    border-radius: 2px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    background: rgb(255, 255, 255);
}

#pred, #pls {
    font-family: 'Roboto Slab', serif;
}



.circle-red {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(255, 105, 97);
}

.circle-orange {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(255, 201, 125);
}

.circle-yellow {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(253, 253, 150);
}

.circle-green {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #90EE90;
}

.circle-blue {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #ADD8E6;
}

.circle-indigo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #A2ABE7;
}

.circle-purple {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #B19CD9;
}
