.header {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-size: 4vw;
}

/* .sketchpad {
    background: #FFF;
    border-radius: 2px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
} */

#canvas {
    background: #000000;
    border-radius: 2px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);

}

.column {
    float: left;
    width: 50%;
}

.left {
    text-align: right;
    padding-right: 1.5%;
}

.right {
    text-align: left;
}

#rectangle {
    width: 200px;
    height: 100px;
    border-radius: 2px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    background: rgb(255, 255, 255);
}

#pred, #pls {
    font-family: 'Roboto Slab', serif;
}

.circle-red {
    vertical-align: auto;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(405, 105, 97);
    border-style: none;
}

.circle-red:hover {
    border: solid;
    border-color: black;
}

.circle-orange:hover {
    border: solid;
    border-color: black;
}

.circle-yellow:hover {
    border: solid;
    border-color: black;
}
.circle-green:hover {
    border: solid;
    border-color: black;
}
.circle-blue:hover {
    border: solid;
    border-color: black;
}
.circle-purple:hover {
    border: solid;
    border-color: black;
}

.circle-indigo:hover {
    border: solid;
    border-color: black;
}

.circle-orange {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(405, 201, 140);
    border-style: none;
}

.circle-yellow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(403, 403, 150);
}

.circle-green {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #90EE90;
}

.circle-blue {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #ADD8E6;
}

.circle-indigo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #A2ABE7;
}

.circle-purple {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #B19CD9;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 0;
}

ul {
    float: left;
    padding: 10px;
    margin: 10px;
    width: 50px;
}
