.header {
    text-align: center;
    font-size: 4.5vw;
}

.header, .links {
    font-family: 'Shadows Into Light', cursive;
}

.footer {
    position: absolute;
    bottom: 0px;
    font-size: 2vw;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#canvas {
    background: black;
    border-radius: 2px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.column {
    float: left;
    width: 45%;
}

.left {
    text-align: right;
    padding-right: 1.5%;
}

.right {
    text-align: left;
}

#rectangle {
    width: 30%;
    height: 30vw;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    background: rgb(255, 255, 255);
}

#pred, p, #clear-button {
    font-family: 'Roboto Slab', serif;
}

#num {
    text-align: center;
    font-size: 18vw;
    margin: 0;
    padding: 0;
}

#word {
    text-align: center;
    font-size: 2vw;
}

#clear-button {
    border-radius: 8px;
    font-size: 2.5vw;
    position: absolute;
    top: 8px;
    right: 10px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 0;
}

ul {
    float: left;
    padding: 10px;
    margin: 10px;
    width: 50px;
}

.circle-red:hover {
    border: solid;
    border-color: black;
}

.circle-orange:hover {
    border: solid;
    border-color: black;
}

.circle-yellow:hover {
    border: solid;
    border-color: black;
}

.circle-green:hover {
    border: solid;
    border-color: black;
}

.circle-blue:hover {
    border: solid;
    border-color: black;
}

.circle-purple:hover {
    border: solid;
    border-color: black;
}

.circle-indigo:hover {
    border: solid;
    border-color: black;
}

.circle-red {
    vertical-align: auto;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(405, 105, 97);
    border-style: none;
}

.circle-orange {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(405, 201, 140);
    border-style: none;
}

.circle-yellow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: rgb(403, 403, 150);
}

.circle-green {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #90EE90;
}

.circle-blue {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #ADD8E6;
}

.circle-indigo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #A2ABE7;
}

.circle-purple {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #B19CD9;
}